# ca_drive.template
# Required macros:
#   P       PV prefix
#   CA_LNK  CA link which is monitored for rate and TSEL
#

record(calcout, "$(P)drive")
{
    field(PINI, "RUNNING")
    field(INPA, "$(CA_LNK) CPP")
    field(TSEL, "$(CA_LNK).TIME")
    field(FLNK, "$(P)Count00")
}

